// main.tf for data integrity policy module
// Example: Enabling soft delete for Azure Storage Account to protect data integrity

resource "azurerm_storage_account" "integrity" {
	name                     = {{ storage_account_name }}
	resource_group_name      = {{ resource_group_name }}
	location                 = {{ location }}
	account_tier             = "Standard"
	account_replication_type = "LRS"
	tags = {{ tags }}
}
