// main.tf for Azure Data Lake Storage Gen2
resource "azurerm_storage_account" "{{ name }}" {
	name                     = "{{ storage_account_name }}"
	resource_group_name      = "{{ resource_group_name }}"
	location                 = "{{ location }}"
	account_tier             = "Standard"
	account_replication_type = "LRS"
	is_hns_enabled           = {{ is_hns_enabled | default(true) | lower }}
	access_tier              = "{{ access_tier | default('Hot') }}"
	tags                     = {{ dict_to_hcl(tags) }}
}
{% if medallion_layers %}
{% for layer in medallion_layers %}
// Storage account for {{ layer }} layer
resource "azurerm_storage_account" "{{ name }}_{{ layer }}" {
  name                     = "{{ storage_account_name | lower }}{{ layer }}"
  resource_group_name      = "{{ resource_group_name }}"
  location                 = "{{ location }}"
  account_tier             = "Standard"
  account_replication_type = "LRS"
  is_hns_enabled           = {{ is_hns_enabled | default(true) | lower }}
  access_tier              = "{{ access_tier | default('Hot') }}"
  tags                     = {{ dict_to_hcl(tags) }}
}

resource "azurerm_storage_data_lake_gen2_filesystem" "{{ name }}_{{ layer }}_fs" {
  name               = "{{ layer }}"
  storage_account_id = azurerm_storage_account.{{ name }}_{{ layer }}.id
}
{% endfor %}
{% endif %}
