// main.tf for encryption security module
// Example: Azure Key Vault for data encryption

resource "azurerm_key_vault" "data_encryption" {
  name                = {{ key_vault_name }}
  location            = {{ location }}
  resource_group_name = {{ resource_group_name }}
  tenant_id           = {{ tenant_id }}
  sku_name            = "standard"
  tags                = {{ tags }}
}
